<h2 class="text-center text-primary-emphasis fw-semibold mb-4 mt-5">Edit Constructor Company</h2>
<div class="container mt-5">
  <div class="d-flex justify-content-center">
      <div class="alert alert-danger" *ngIf="error !== ''">
          <p>{{ error }}</p>
      </div>
  </div>
  <div class="d-flex justify-content-center">
      <div class="alert alert-success" *ngIf="success">
          <p>Constructor company updated successfully!</p>
      </div>
  </div>
  <div class="d-flex justify-content-center">
    <form class="w-50" (ngSubmit)="onSubmit(editCompanyForm)" #editCompanyForm="ngForm" *ngIf="!isLoading">
        <div class="form-group mb-2">
            <label for="name">Name</label>
            <input
                type="text"
                id="name"
                class="form-control"
                [(ngModel)]="inputConstructorCompanyName"
                name="name"
                required
                #name="ngModel">
            <span class="text-danger" *ngIf="!name.valid && name.touched">Name cannot be empty</span>
        </div>
        <div class="text-center my-4">
            <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!editCompanyForm.valid || inputConstructorCompanyName === this.constructorCompany.name">Edit Company</button>
        </div>
    </form>
</div>
  <div class="text-center" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>