<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 border-end border-primary-subtle">
            <app-sidebar></app-sidebar>
        </div>
        <!--FIXME: there should be a router-outlet here and take whats under this line into a new welcome component-->
        <div class="col-md-9 text-center text-primary-emphasis mt-5">
            <h1>Welcome user</h1> <!--FIXME: change for user's name and better center text-->
            <h4>Please select an option on the sidebar to start navigating</h4>
        </div>
    </div>
</div>
