<div class="container">
    <div class="d-flex justify-content-start mb-3">
        <a routerLink="/buildings">
            <app-back-icon></app-back-icon>
        </a>
    </div>
    <h2 class="text-center text-primary-emphasis fw-semibold mb-4">Building {{ building.name }}</h2>
    <div class="d-flex justify-content-center">
        <div class="alert alert-danger" *ngIf="error !== ''">
            <p>{{ error }}</p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="alert alert-success" *ngIf="successMessage">
            <p>Updated correctly!</p>
        </div>
    </div>
    <div *ngIf="isLoading" class="text-center">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="d-flex justify-content-center">
        <form class="w-75" (ngSubmit)="onSubmit(managerEditForm)" #managerEditForm="ngForm" *ngIf="!isLoading">
            <div class="form-group mb-2 ">
                <label for="sharedExpenses">Shared Expenses</label>
                <input
                    type="number"
                    id="sharedExpenses"
                    class="form-control"
                    [(ngModel)]="building.sharedExpenses"
                    name="sharedExpenses"
                    required
                    min="1"
                    #sharedExpenses="ngModel">
                <span class="text-danger" *ngIf="!sharedExpenses.valid && sharedExpenses.touched">Shared expenses must be at least 1</span>
            </div>
            <div class="form-group mb-2">
                <label for="activeEmployees">Maintenance employees on building</label>
                <ul class="list-group list-with-overflow" name="activeEmployees" *ngIf="employeesOnBuilding.length > 0">
                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let employee of employeesOnBuilding">
                        <span>
                            {{ employee.name + ' ' + employee.surname + ' - ' + employee.email }}
                        </span>
                        <button class="btn btn-danger p-1" (click)="onDiscard(employee)">Discard</button>
                    </li>
                </ul>
                <p class="fst-italic px-3" *ngIf="employeesOnBuilding.length === 0">No maintenance employees on building</p>
            </div>
            <div class="form-group mb-2">
                <label for="activeEmployees">Maintenance employees not currently on building</label>
                <ul class="list-group list-with-overflow" name="activeEmployees" *ngIf="employeesNotOnBuilding.length > 0">
                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let employee of employeesNotOnBuilding">
                        <span>
                            {{ employee.name + ' ' + employee.surname + ' - ' + employee.email }}
                        </span>
                        <button class="btn btn-success p-1 ml-auto" (click)="onAdd(employee)">Add</button>
                    </li>
                </ul>
                <p class="fst-italic px-3" *ngIf="employeesNotOnBuilding.length === 0">No maintenance employees not on building</p>
            </div>            
            <div class="text-center mt-4">
                <button
                    class="btn btn-primary"
                    type="submit"
                    [disabled]="!managerEditForm.valid">Edit building</button>
            </div>
        </form>
    </div>
    <hr class="my-5">
    <div class="d-flex justify-content-center">
        <div class="list-group w-75">
            <app-flat-item
                *ngFor="let flatElem of building.flats"
                [flat]="flatElem"></app-flat-item>
        </div>
    </div>
</div>
