<div class="container">
    <div class="d-flex justify-content-start mb-3">
        <a routerLink="/buildings">
            <app-back-icon></app-back-icon>
        </a>
    </div>
    <div class="alert alert-danger" *ngIf="error !== ''">
        <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" class="text-center">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!isLoading">
        <div class="d-flex justify-content-center">
            <div class="list-group w-50">
                <!-- FIXME: form to edit building -->
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <div class="list-group w-75">
                <app-flat-item
                    *ngFor="let flatElem of building.flats"
                    [flat]="flatElem"></app-flat-item>
            </div>
        </div>
    </div>
</div>
