<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center text-primary-emphasis fw-semibold mb-4">BuildingBoss</h1>
            <h3 class="text-center text-primary-emphasis mb-4">Login</h3>
            <div class="alert alert-danger" *ngIf="error !== ''">
                <p>{{ error }}</p>
            </div>
            <div *ngIf="isLoading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
            </div>
            <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm" *ngIf="!isLoading">
                <div class="form-group mb-2">
                    <label for="email">Email</label>
                    <input
                        type="email"
                        id="email"
                        class="form-control"
                        ngModel
                        name="email"
                        required
                        email>
                </div>
                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        id="password"
                        class="form-control"
                        ngModel
                        name="password"
                        required
                        minlength="6">
                </div>
                <div class="text-center">
                    <button
                        class="btn btn-primary"
                        type="submit"
                        [disabled]="!authForm.valid">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
