<div class="container">
    <div class="d-flex justify-content-start mb-3">
        <a routerLink="/requests">
            <app-back-icon></app-back-icon>
        </a>
    </div>
    <h2 class="text-center text-primary-emphasis fw-semibold mb-4">New Request</h2>
    <div class="d-flex justify-content-center">
        <div class="alert alert-danger" *ngIf="error !== ''">
            <p>{{ error }}</p>
        </div>
    </div>
    <div *ngIf="isLoading" class="text-center">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="d-flex justify-content-center" *ngIf="!noCategories || !noBuildings || !noEmployees">
        <div class="w-50" *ngIf="!isLoading">
            <div class="form-group mb-3">
                <label for="category">Category</label>
                <div class="dropdown">
                    <button
                        class="btn btn-light dropdown-toggle border-dark-subtle"
                        type="button" id="categoryDropdown"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ selectedCategory === '' ? 'Select a category' : selectedCategory }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                        <li *ngFor="let category of categories">
                            <a class="dropdown-item" (click)="selectCategory(category)">{{ category }}</a>
                        </li>
                    </ul>
                </div>
                <input type="hidden" ngModel name="category" [value]="selectedCategory" required>
            </div>
            <div class="form-group mb-3">
                <label for="category">Flat</label>
                <div class="dropdown">
                    <button
                        class="btn btn-light dropdown-toggle border-dark-subtle"
                        type="button" id="categoryDropdown"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ selectedFlat === '' ? 'Select a flat' : selectedFlat }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                        <li *ngFor="let building of buildings">
                            <div *ngFor="let flat of building.flats">
                                <a class="dropdown-item" (click)="selectFlat(flat)">
                                    {{ flat.number + ' - ' + building.name }}
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <input type="hidden" ngModel name="category" [value]="selectedFlat" required>
            </div>
            <div class="form-group mb-3" *ngIf="selectedFlat !== ''">
                <div *ngIf="employeesToShow.length !== 0">
                    <label for="category">Maintenance employee</label>
                    <div class="dropdown">
                        <button
                            class="btn btn-light dropdown-toggle border-dark-subtle"
                            type="button" id="categoryDropdown"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ selectedEmployee === '' ? 'Select a maintenance employee' : selectedEmployee }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                            <li *ngFor="let employee of employeesToShow">
                                <a class="dropdown-item" (click)="selectEmployee(employee)">{{ employee.name + ' ' + employee.surname + ' - ' + employee.email }}</a>
                            </li>
                        </ul>
                    </div>
                    <input type="hidden" ngModel name="category" [value]="selectedEmployee" required>
                </div>
                <span *ngIf="employeesToShow.length === 0" class="text-danger">There are no maintenance employees assigned to this building. Please add maintenance employees before going forward</span>
            </div>
            <form (ngSubmit)="onSubmit(newRequestForm)" #newRequestForm="ngForm" *ngIf="!isLoading">
                <div class="form-group mb-3">
                    <label for="description">Description</label>
                    <textarea
                        id="description"
                        name="description"
                        rows="3"
                        class="form-control"
                        ngModel
                        required
                        minlength="5"
                        #description="ngModel"></textarea>
                    <span class="text-danger" *ngIf="!description.valid && description.touched">Description cannot be empty</span>
                </div>
                <div class="text-center">
                    <button
                        class="btn btn-primary"
                        type="submit"
                        [disabled]="
                            !newRequestForm.valid ||
                            selectedCategory === '' ||
                            selectedEmployee === '' ||
                            selectedFlat === ''">Create request</button>
                </div>
            </form>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5" *ngIf="noCategories">
        <h3 class="text-primary-emphasis">There are no categories available to create a new request</h3>
    </div>
    <div class="d-flex justify-content-center mt-5" *ngIf="noBuildings">
        <h3 class="text-primary-emphasis">There are no buildings assigned to you</h3>
    </div>
    <div class="d-flex justify-content-center mt-5" *ngIf="noEmployees">
        <h3 class="text-primary-emphasis text-center">There are no maintenance employees available to create a new request. Please create one to go forward</h3>
    </div>
</div>
