<a
    class="list-group-item d-flex justify-content-between align-items-center py-3">
    <div>
        <h4 class="list-group-item-heading">{{ building.name }}</h4>
        <p class="list-group-item-text mb-0">{{ building.street + ' ' + building.doorNumber + '. Corner: ' + building.cornerStreet }}</p>
        <p class="list-group-item-text mb-0" *ngIf="role === 'ConstructorCompanyAdmin'">Manager: {{ manager }}</p>
    </div>
    <div class="d-flex flex-column align-items-end">
        <p class="mb-1">Shared expenses: {{ building.sharedExpenses }}</p>
        <button class="btn btn-success mb-1" (click)="onManagerEdit()" *ngIf="role === 'Manager'">Edit</button>
        <button class="btn btn-success mb-1" (click)="onAdminEdit()" *ngIf="role === 'ConstructorCompanyAdmin'">Edit</button>
        <button class="btn btn-danger" (click)="onDelete()" *ngIf="role === 'ConstructorCompanyAdmin'">Delete</button>
    </div>
</a>
