<div class="list-group-item d-flex justify-content-between align-items-center">
    <div>
        <p class="mb-0 fw-semibold">Name: {{ invite.name }}</p>
        <p class="mb-0 fw-semibold">Email: {{ invite.email }}</p>
        <p class="mb-0 fw-semibold">Future role: {{ invite.role }}</p>
        <p class="mb-0">Available until: {{ invite.expirationDate.toLocaleDateString('en-GB') }}</p>
    </div>
    <div class="d-flex flex-column align-items-end">
        <p class="mb-0">Status: {{ !invite.isAnswered ? (invite.expirationDate < today ? 'Expired' : 'Available') : (invite.isAccepted ? 'Accepted' : 'Rejected') }}</p>
        <button
            class="btn btn-danger mt-2"
            (click)="onDelete(invite.id)"
            *ngIf="(invite.isAnswered && !invite.isAccepted) || (invite.expirationDate < today)">Delete</button>
    </div>
</div>
