<div
    class="list-group-item d-flex justify-content-between align-items-center">
    <div>
        <h4 class="list-group-item-heading">{{ request.categoryName }}</h4>
        <p class="list-group-item-text mb-0">Flat: {{ request.flat.number + ' - ' + request.building.name }}</p>
        <p class="list-group-item-text mb-0" *ngIf="request.assignedEmployee" >Employee assigned: {{ request.assignedEmployee.name + ' ' + request.assignedEmployee.surname + ' - ' + request.assignedEmployee.email }}</p>
        <p class="list-group-item-text mb-0">Description: {{ request.description }}</p>
    </div>
    <div class="d-flex flex-column align-items-end" *ngIf="userRole === 'Manager'">
        <p class="mb-1">Status: {{ request.status }}</p>
        <button
            class="btn btn-success" 
            [routerLink]="[request.id]" 
            *ngIf="request.status !== 'Completed'">Edit</button>
    </div>
    <div *ngIf="userRole === 'MaintenanceEmployee'">
        <label for="status">Status</label>
        <div class="dropdown">
            <button
                [ngClass]="getStatusColor()"
                role="button"
                id="status" 
                data-bs-toggle="dropdown" 
                aria-expanded="false">
                {{ selectedStatus }}
            </button>
            <ul class="dropdown-menu">
                <li *ngFor="let status of statusList">
                    <a class="dropdown-item" (click)="updateStatus(status)">{{ status === 'InProgress' ? 'In Progress' : status }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
