<div
    class="list-group-item d-flex justify-content-between align-items-center">
    <div>
        <h4 class="list-group-item-heading">{{ request.categoryName }}</h4>
        <p class="list-group-item-text mb-0">Flat: {{ request.flat.number + ' - ' + request.building.name }}</p>
        <p class="list-group-item-text mb-0">Employee assigned: {{ request.assignedEmployee.name + ' ' + request.assignedEmployee.surname + ' - ' + request.assignedEmployee.email }}</p>
        <p class="list-group-item-text mb-0">Description: {{ request.description }}</p>
    </div>
    <div class="d-flex flex-column align-items-end" *ngIf="userRole === 'Manager'">
        <p class="mb-1">Status: {{ request.status }}</p>
        <button
            class="btn btn-success" 
            [routerLink]="[request.id]" 
            *ngIf="request.status === 'Pending'">Edit</button>
    </div>
    <div *ngIf="userRole === 'MaintenanceEmployee'">
        <label for="status">Status</label>
        <div class="dropdown">
            <!-- FIXME: doesnt work dropdown, tried with an a tag also but didnt work -->
            <button
                class="btn btn-secondary dropdown-toggle bg-light text-dark"
                role="button"
                id="status" 
                data-bs-toggle="dropdown" 
                aria-expanded="false">
                {{ status }}
        </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item">Pending</a></li>
                <li><a class="dropdown-item">In progress</a></li>
                <li><a class="dropdown-item">Completed</a></li>
            </ul>
        </div>
    </div>
</div>
