<div class="container">
    <div class="d-flex justify-content-end mb-3">
        <button
            class="btn btn-success"
            (click)="onNewBuilding()"
            *ngIf="userRole === 'ConstructorCompanyAdmin'">New building</button>
    </div>
    <div class="d-flex justify-content-center" *ngIf="noBuildings">
        <h2 class="text-primary-emphasis">{{ userRole === 'Manager' ? 'You have no buildings assigned yet' : "Your company didn't create any buildings yet" }}</h2>
    </div>
    <div class="d-flex justify-content-center">
        <div class="list-group w-50">
            <app-building-item
                *ngFor="let buildingElem of buildings"
                [building]="buildingElem"></app-building-item>
        </div>
    </div>
</div>
