<div class="container">
    <div class="d-flex justify-content-start mb-3">
        <a routerLink="/invitations">
            <app-back-icon></app-back-icon>
        </a>
    </div>
    <h2 class="text-center text-primary-emphasis fw-semibold mb-4">New Invitation</h2>
    <div class="alert alert-danger" *ngIf="error !== ''">
        <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" class="text-center">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="d-flex justify-content-center">
        <form class="w-50" (ngSubmit)="onSubmit(newInvitationForm)" #newInvitationForm="ngForm" *ngIf="!isLoading">
            <div class="form-group mb-2">
                <label for="name">Name</label>
                <input
                    type="text"
                    id="name"
                    class="form-control"
                    ngModel
                    name="name"
                    required
                    minlength="2"
                    #name="ngModel">
                <span class="text-danger" *ngIf="!name.valid && name.touched">Name cannot be empty</span>
            </div>
            <div class="form-group mb-2">
                <label for="email">Email</label>
                <input
                    type="email"
                    id="email"
                    class="form-control"
                    ngModel
                    name="email"
                    required
                    email
                    #email="ngModel">
                <span class="text-danger" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
            </div>
            <div class="form-group my-3">
                <label for="role">Role</label>
                <div class="radio" *ngFor="let role of roles">
                    <label>
                        <input
                            type="radio"
                            name="role"
                            ngModel
                            [value]="role"
                            required>
                        {{ role }}
                    </label>
                </div>
            </div>
            <div class="form-group mb-3"> <!-- FIXME: put it in the same line -->
                <label for="expDays">Available for (in days)</label>
                <input
                    type="number"
                    id="expDays"
                    class="form-control days"
                    ngModel
                    name="expDays"
                    required
                    min="1"
                    max="100"
                    #expDays="ngModel">
                <span class="text-danger" *ngIf="!expDays.valid && expDays.touched">Available days must be between 1 and 100</span>
            </div>
            <div class="text-center my-4">
                <button
                    class="btn btn-primary"
                    type="submit"
                    [disabled]="!newInvitationForm.valid">Create invitation</button>
            </div>
        </form>
    </div>
</div>
