<div class="container">
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-success" (click)="onNewRequest()" *ngIf="userRole === 'Manager'">New request</button>
    </div>
    <!-- TODO: users should be able to filter requests by category -->
    <div class="d-flex justify-content-center mt-5" *ngIf="noRequests">
        <h2 class="text-primary-emphasis">{{userRole === 'Manager' ? "You haven't created any requests yet" : "You haven't been assigned to any requests yet"}}</h2>
    </div>
    <div class="d-flex justify-content-center">
        <div class="alert alert-danger" *ngIf="error !== ''">
            <p>{{ error }}</p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="list-group w-75">
            <app-request-item
                *ngFor="let requestElem of requests"
                [request]="requestElem"
                [userRole]="userRole"></app-request-item>
        </div>
    </div>
</div>
